body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: fantasy;
    background-color: rgb(0, 0, 0);
    padding: 0px;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 0px 0px 0px;
    padding: 20px;
    background-color: rgb(230, 230, 230);
}

div.container{  
    width: 800px;
}

div.menu{
    flex-direction: column;
}

canvas{
    border: solid;
    margin: 0px 0px 0px 0px;
}

button{
    color: black;
    background-color: rgb(21, 255, 33);
    opacity: 0.5;
    transition: 0.1s;
    width: 200px;
    height: 80px;
    font-size: 24px;
    font-weight: 600;
}

button:hover{
    opacity: 1.0;
}

h2{
    font-size: 24px;
    font-weight: 400;  
}

h1{
    width: 236px;
    font-size: 48px;
    font-stretch: extra-expanded;
    margin: 15px 0px 15px 0px;
    padding: 10px;
    text-align: center;
    background-color: darkgreen;
    color: whitesmoke;
}

footer{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}